/* 
===============================================
02. Basic Setup CSS
===============================================
*/
html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: var(--primary-font-400);
  font-size: var(--size-md);
  color: var(--primary-color);
  line-height: 1.6;
  background-color: var(--primary-bg);
  overflow-x: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  background-color: var(--third-bg);
  color: var(--secondary-color);
}

::selection {
  background-color: var(--third-bg);
  color: var(--secondary-color);
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background-color: var(--primary-color);
}

::-webkit-scrollbar-thumb {
  height: 6rem;
  background-color: var(--third-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font-700);
}

h1,
h2 {
  font-size: var(--size-3xl);
  line-height: 1.333333333333333;
}

h3,
h4 {
  font-size: var(--size-2xl);
  line-height: 1.363636363636364;
}



a,
span,
label {
  display: inline-block;
}

ul li {
  list-style: none;
}

a,
a:focus {
  text-decoration: none;
}

button:focus,
input:focus,
textarea:focus,
button,
input,
textarea {
  outline: 0;
  border: 0;
}

button,
input,
textarea {
  background-color: transparent;
}

button {
  cursor: pointer;
}

/* 
---------
Remove Bootstrap style
-----------------------------
*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
hr {
  margin: 0;
  padding: 0;
}

hr {
  opacity: 1;
  background-color: transparent;
}
