/* 
=========================================
03. Reuseble Class CSS
=========================================
*/
.section-y-space {
  padding: 12rem 0;
  @media #{$xsm} {
    padding: 6rem 0;
  }
}

.section-t-space {
  padding-top: 12rem;
  @media #{$xsm} {
    padding-top: 5rem;
  }
}

.section-t2-space {
  padding-top: 11rem;
  @media #{$xsm} {
    padding-top: 6rem;
  }
}

.section-b-space {
  padding-bottom: 12rem;
  @media #{$xsm} {
    padding-bottom: 6rem;
  }
}

.bg-class {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-title-wrap {
  margin-bottom: 6.3rem;
}

.g-60 {
  --bs-gutter-y: 6rem;
  --bs-gutter-x: 6rem;
}

.g-55 {
  --bs-gutter-y: 5.5rem;
  --bs-gutter-x: 5.5rem;
}

.border-gray {
  border: 0.1rem solid var(--border-color1);
}

.redius-12 {
  border-radius: 1.2rem;
}

.redius-8 {
  border-radius: 0.8rem;
}

.redius-5 {
  border-radius: 0.5rem;
}

.redius-4 {
  border-radius: 0.4rem;
}

.xy-hideen {
  overflow: hidden;
}

.x-hidden {
  overflow-x: hidden;
}

.z-index-1 {
  z-index: 1;
}

.z-index-11 {
  z-index: 11;
}

.z-index-111 {
  z-index: 111;
}

.z-index-9 {
  z-index: 9;
}

.z-index-99 {
  z-index: 99;
}

.z-index-999 {
  z-index: 999;
}

.animated-border {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    box-sizing: border-box;
    height: 0;
    border-bottom: 0.1rem solid transparent;
    border-left: 0.1rem solid transparent;
    transition: all 0.6s linear;
    border-radius: 0.4rem;
  }
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 0;
    box-sizing: border-box;
    height: 0;
    border-top: 0.1rem solid transparent;
    border-right: 0.1rem solid transparent;
    transition: all 0.6s linear;
    border-radius: 0.4rem;
  }
  &:hover::before,
  &:hover::after {
    border-color: var(--secondary-bg);
    width: 100%;
    height: 100%;
  }
}

.zump-animation-1 {
  animation: zump-1 4s infinite linear;
}

@keyframes zump-1 {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }

  50% {
    -webkit-transform: translate3d(0, -6rem, 0);
    transform: translate3d(0, -6rem, 0);
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

.t-linear {
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

a,
button,
img,
span,
p,
.t-ease-in-out {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
